<%= stylesheet_link_tag 'application', media: 'all' %>
<h2 class="title is-2 mt-3 ml-3">Fruits</h2>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
</body>
<p>Find me in app/views/fruits/index.html.erb</p>
