<%= stylesheet_link_tag 'application', media: 'all' %>
 <h1>One Piece DB</h1>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <h2>Fruits</h2>
  <p>This is a list of Fruits in One Piece</p>
  <ol>
  <% @fruits.each do |fruit|%>
    <li>
      <%= link_to fruit.name, fruit %>
    </li>
  <% end%>
  </ol>
</body>