<%= stylesheet_link_tag 'application', media: 'all' %>
<h2 class="title is-2 mt-3 ml-3">About</h2>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <section class="section">
    <p>
      For this project our Database will be pulling from 3 Sources from a One Piece API: https://api-onepiece.com/
      - The Characters: https://api-onepiece.com/documentation/13-character
      <br>
      - The Crews: https://api-onepiece.com/documentation/12-crew
      <br>
      - The Fruits: https://api-onepiece.com/documentation/2-fruit
      <br>
      In terms of table relation we can start first with the Crews Table. This table is needed as it will connected to the Characters
      table via Foreign Key (crew_id) so that users can see which Crew a Character is under. The Fruits table is needed as it provides
      information on the Fruits that provide our characters their abilities/superpowers. We can see which Fruit belongs to which
      character via Foreign Key (character_id). The Characters table is needed as both the Crews and Fruits tables are connected to it.
      It is also the table with the most info and the highlight of the website.
    </p>
  </section>
</body>
