<%= stylesheet_link_tag 'application', media: 'all' %>
<h1>One Piece DB</h1>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <h2>About</h2>
  <div class="d-flex justify-content-center">
    <%= image_tag "ERD.jpg", height: 300, alt: "ERD" %>
  </div>
  <div class="mt-5">
    <p>
      For this project our Database will be pulling from 3 Sources from a One Piece API: https://api-onepiece.com/
      <br>
      The Characters: https://api-onepiece.com/documentation/13-character
      <br>
      The Crews: https://api-onepiece.com/documentation/12-crew
      <br>
      The Fruits: https://api-onepiece.com/documentation/2-fruit
      <br>
    </p>
  </div>
</body>
