 /* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
 @import "bootstrap";

 ol.custom-list li {
  list-style: square;
}

.row.justify-content-start ol {
  list-style: none;
}

div#home_columns.container.text-center
{
  margin-top: 5%;
  list-style: none;
}







